<div style = ".edit_container">
        <label>{{title}}</label>
        <input class="event-edit-form__input" id = "" placeholder = "{{value}} из 10" type="text" data-section="" disabled></{{input}}>
</div>