nav {
    background-color: #009951;
    text-align: center;
    height: 70px;
    letter-spacing: 1px;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}