.survey-container {
    border: #51ff00;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    height: 200px;
}

.circle-container {
    display: flex; /* Add display: flex to make them horizontal */
    justify-content: space-between;
    align-items: center;
    height: 100px; /* Adjust the height to fit your needs */
}

.circle-number {
    display: inline-block; /* Add display: inline-block */
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    color: #000000;
    background-color: #009951;
    margin: 0 5px;
    cursor: pointer;
}

.circle-number.active {
    background-color: #333;
}

.circle-number.hover {
    background-color: #51ff00; /* Цвет выделения при наведении */
    color: #fff; /* Цвет текста при наведении */
}