/* Основной контейнер для страницы мероприятия */
.eventPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 70%;
    background-color: #fff;
    padding: 50px;
    font-size: large;
}

.image {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.event__date {
    padding: 5px;
    font-size: 18px;
    color: #666;
    margin: 8px 0;
}

.event__tags {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.event__tag {
    background-color: #009951;
    color: white;
    font-size: 20px;
    padding: 7px;
    border-radius: 15px;
}

/* Кнопка удаления */
.buttonDelete {
    background: #fff;
    border: 2px solid #e74c3c;
    color: #e74c3c;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.buttonDelete:hover {
    background-color: #e74c3c;
    color: #fff;
}

/* Кнопка редактирования */
.buttonEdit {
    background: #fff;
    border: 2px solid #ff7b00;
    color: #ff7b00;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.buttonEdit:hover {
    background-color: #ff7b00;
    color: #fff;
}

.eventPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event__title {
  font-size: 36px;
  font-weight: bold;
}

.event__details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event__image {
    max-width: 800px;
    height: auto;
    margin-top: 10px;
}

.event__info-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.event__tags, .event__date {
    margin: 0 10px;
}

.event__actions {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 5%;
}

#map {
    width: 70%;
    height: 600px;
}

.buttonSubscribe {
    background: #fff;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.buttonSubscribe:hover {
    background-color: #007bff;
    color: #fff;
}

.authorText {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
/* Кнопка приглашения */
.buttonInvite {
    background: #fff;
    border: 2px solid #007bff; /* Цвет рамки */
    color: #007bff; /* Цвет текста */
    padding: 10px 20px; /* Отступы */
    border-radius: 20px; /* Скругление углов */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.2s ease, color 0.2s ease; /* Плавный переход */
}

.buttonInvite:hover {
    background-color: #007bff; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}
/* Добавьте это в ваш CSS файл */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Убедитесь, что это выше других элементов */
}

.invite-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Убедитесь, что это выше overlay */
}
.avatar-image {
    width: 40px; /* Ширина аватарки */
    height: 40px; /* Высота аватарки */
    border-radius: 50%; /* Скругление для круглой формы */
    object-fit: cover; /* Обеспечивает правильное обрезание изображения */
    margin-right: 10px; /* Отступ справа для разделения с текстом */
}

/* Общие стили для кнопок с иконками */
.buttonIcon {
    display: flex;
    align-items: center;
    border: 2px solid #007bff; /* Цвет рамки */
    color: #007bff; /* Цвет текста */
    padding: 10px 20px; /* Отступы */
    border-radius: 20px; /* Скругление углов */
    background-color: #f0f0f0; /* Цвет фона */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.buttonIcon:hover {
    background-color: #e0e0e0; /* Цвет фона при наведении */
}

.buttonIcon img {
    margin-right: 5px; /* Отступ между иконкой и текстом */
    width: 20px; /* Ширина иконки */
    height: 20px; /* Высота иконки */
}